# Sass Starter
# http://travisbredehoft.com
# @author Travis Bredehoft

## Sass Starter
config.codekit

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/